<div id='nav-container'>
  <div class='navbar'>
    <div id='left'>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <a href='/'><i class="fab fa-instagram fa-3x " style="color: red;"></i>&nbsp;<strong style="font-weight: bold; font-size:xx-large ;font-style:italic;color:black;">Instagram</strong></a>
    </div> <!-- end div left -->
    <div id='center'>
      <form class="navbar-form navbar-left" action="{% url 'search_results'%}">
        <div class="form-group">
          <input id="input-field" type="text" placeholder='search' style="text-align: center center" name="search">
        </div> <!-- end div center -->
      </form>
    </div>
    <div class="profile">
      <a class="mr-2" href="{% url 'profile' request.user.id %}"><i class="far fa-user fa-3x"></i></a>
      <a class="mr-2" href="#"><i class="far fa-heart fa-3x"></i></a>
      <a class="mr-2" href="{% url 'explore' %}"><i class="far fa-compass fa-3x"></i></a>
    </div>   
  </div>  
</div>  